language: julia
julia:
    - 0.4
    - nightly
notifications:
    email: false
sudo: false
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - julia -e 'Pkg.clone(pwd()); Pkg.build("GitHub"); Pkg.test("GitHub"; coverage=true)';
after_success:
    - julia -e 'cd(Pkg.dir("GitHub")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
